<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、Xへようこそ!!!!!!</h1>
    <p>
      Xへのサインアップが成功しました。
      ワンタイムパスワードを確認して入力してください。

      パスワード： <%= @password %>
      ＊有効期限は２時間後です。それまでに入力してください。
    </p>
    <p>本サイトにユーザー登録いただきありがとうございます。</p>
  </body>
</html>
