<div class="h-16 sticky top-0 bg-white px-4 py-2">
  <form>
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>
      </div>
      <input type="search" id="search" class="block w-full px-4 py-3 ps-10 text-sm text-gray-900 rounded-full bg-gray-100 focus:ring-blue-500 focus:border-blue-500" placeholder="Search" required />
    </div>
  </form>
</div>
<div class="flex flex-col gap-4 px-4 py-2">
  <div class="py-2 px-4 bg-gray-100 rounded-lg">
    <h1 class="text-lg font-bold mb-4">
      Subscribe to Premium
    </h1>
    <p class="text-sm mb-4">
      Subscribe to unlock new features and if eligible, receive a share of ads revenue.
    </p>
    <div class="flex">
      <button class="text-white bg-black font-bold rounded-full text-md py-1 px-4">
        Subscribe
      </button>
    </div>
  </div>
  <div class="py-2 bg-gray-100 rounded-lg">
    <h1 class="px-4 text-lg font-bold mb-4">
      What’s happening
    </h1>
    <button class="px-4 py-2 w-full text-left hover:bg-gray-200">
      <h2 class="text-md font-bold">
        #TVerアワード
      </h2>
      <p class="text-sm text-gray-500">
        2023年にTVerで配信された3500番組以上から大賞と特別賞が決定！無料配信中！
      </p>
    </button>
    <button class="px-4 py-2 w-full text-left hover:bg-gray-200">
      <p class="text-xs text-gray-500">
        Trending in Japan
      </p>
      <h2 class="text-md font-bold">
        入試出願忘れ
      </h2>
      <p class="text-xs text-gray-500">
        3,444posts
      </p>
    </button>
    <button class="px-4 py-2 w-full text-left hover:bg-gray-200">
      <p class="text-xs text-gray-500">
        Trending in Japan
      </p>
      <h2 class="text-md font-bold">
        入試出願忘れ
      </h2>
      <p class="text-xs text-gray-500">
        3,444posts
      </p>
    </button>
  </div>
</div>
