<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
<div class="h-28 border">
  text
</div>
